.logo {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
}

body {
  height: 100vh;
  background-image: linear-gradient(rgb(131, 126, 126), rgb(245, 234, 135));
}
h1{
  margin: 12px;
  font-size: 30px;
  text-align: center;
}
.container {
  max-width: 995px;
  border: 3px solid black;
  border-radius: 6px;
  margin: auto;
  height: 60vh;
  padding: 33px;
  overflow-y: auto;
  margin-bottom: 20px;
}
.message {
  background-color: rgb(212, 243, 155);
  width: 24%;
  padding: 10px;
  margin: 13px 4px;
  border: 6px solid rgb(5, 5, 5);
  border-radius: 18px;
}
.left {
  float: left;
  clear: both;
}
.right {
  float: right;
}
#send-container {
  display: block;
  margin: auto;
  text-align: center;
  max-width: 990px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#messageinp {
  width: 93%;
  border: 3px solid black;
  border-radius: 8px;
  height: 30px;
  font-size: 22px;
}
.btn{
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
  height: 30px;
  color: white;
  background: black;
  

}
